.song__card{
    display: flex;
    justify-content:space-between;
    
    border-bottom: 1px solid gray;
    padding: 1rem;
}
.song__votes{
    margin-right: 1rem;

}

.song__votes--number{
    font-size: 1.3rem;
    font-weight:500;
}

.song__votes--text{
    font-size: .8rem;
}

.song__interactions{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.votes__counter--container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song__interactions--voting{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.song__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.song__info--name{
    font-size: 18px;
    font-weight: 500;
}

.song__info--artist{
    font-size: 13px;
    font-weight: 300;
    color: rgb(140, 140, 140);
}