html{
    scroll-behavior: smooth;
    background-color: #17072b;
    color: white;
}

* {
    margin: 0;
    font-family: monaco, Consolas, Lucida Console, monospace;
    --header-color:rgb(255, 255, 227);
}

