.QueueOptions{
    display: flex;
    justify-content: space-between;
    /* background-color: var(--header-color); */
    padding: 1rem;
    
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}